@{
    Layout = "~/Views/Shared/private/_RespondentsLayout.cshtml";
}

@model List<DataInventory.Private.Models.RespondentViewModel>

@foreach (var item in Model)
{
    <table style="width: 100%; margin-bottom: 10px" id="tblRespondents">
        <tr>
            <td style="font-weight:bold; font-size: medium; padding-bottom: 8px;" colspan="2"><input type="hidden" value="@item.Id" id="hdRespondentID" /></td>
        </tr>
        <tr>
            <td colspan="2" style="border-top: 1px solid #c5dbec;"></td>
        </tr>
        @if (item.Parent.Id != 0 && !String.IsNullOrWhiteSpace(item.Parent.Name))
        {
            <tr>
                <td class="bold" style="width: 160px;">Parent:</td>
                <td><a href="@Url.Action("GetCollectionDetail","Collection", new {Id = item.Parent.Id })">@item.Parent.Name</a></td>
            </tr>
        }
        @if (!String.IsNullOrWhiteSpace(item.Type))
        {
            <tr>
                <td class="bold">Type:</td>
                <td>@item.Type</td>
            </tr>
        }
        @if (!String.IsNullOrWhiteSpace(item.Type))
        {
            <tr>
                <td class="bold">Description:</td>
                <td>@item.Description</td>
            </tr>
        }
        @if (!String.IsNullOrWhiteSpace(item.Keywords))
        {
            <tr>
                <td class="bold">Keywords:</td>
                <td>@item.Keywords</td>
            </tr>
        }
        @if (item.ResponseMandatory || item.ResponseVoluntary || item.ResponseRequiredForBenefits)
        {
            <tr>
                <td class="bold">Response Type:</td>
                <td>
                    <ul>
                        @if (item.ResponseMandatory) { <li>Response is mandatory</li>}
                        @if (item.ResponseVoluntary) { <li>Response is voluntary</li>}
                        @if (item.ResponseRequiredForBenefits) { <li>Response is required for benefits</li>}
                    </ul>
                </td>
            </tr>
        }
        @if (!String.IsNullOrWhiteSpace(item.ResponseRequirementDescription))
        {
            <tr>
                <td class="bold">Response Requirement Description:</td>
                <td>@item.ResponseRequirementDescription</td>
            </tr>
        }
        @if (!String.IsNullOrWhiteSpace(item.ResponseRequirementReason))
        {
            <tr>
                <td class="bold">Response Requirement Reason:</td>
                <td>@item.ResponseRequirementReason</td>
            </tr>
        }
        @if (item.PopulationSizeEstimated.HasValue)
        {
            <tr>
                <td class="bold">Population Size Estimated:</td>
                <td>@item.PopulationSizeEstimated.Value</td>
            </tr>
        }
        @if (item.PopulationSize.HasValue)
        {
            <tr>
                <td class="bold">Population Size:</td>
                <td>@item.PopulationSize.Value</td>
            </tr>
        }
        @if (!String.IsNullOrWhiteSpace(item.PopulationSizeDescription))
        {
            <tr>
                <td class="bold">Population Size Description:</td>
                <td>@item.PopulationSizeDescription</td>
            </tr>
        }
        @if (item.ResponseSizeEstimate.HasValue)
        {
            <tr>
                <td class="bold">Response Size Estimate:</td>
                <td>@item.ResponseSizeEstimate.Value</td>
            </tr>
        }
        @if (item.ResponseSize.HasValue)
        {
            <tr>
                <td class="bold">Response Size:</td>
                <td>@item.ResponseSize.Value</td>
            </tr>
        }
        @if (item.ResponseRateEstimated.HasValue)
        {
            <tr>
                <td class="bold">Response Rate Estimated:</td>
                <td>@item.ResponseRateEstimated.Value</td>
            </tr>
        }
        @if (item.ResponseRate.HasValue)
        {
            <tr>
                <td class="bold">Response Rate:</td>
                <td>@item.ResponseRate.Value</td>
            </tr>
        }
        @if (!String.IsNullOrWhiteSpace(item.ResponseRateDescription))
        {
            <tr>
                <td class="bold">Response Rate Description:</td>
                <td>@item.ResponseRateDescription</td>
            </tr>
        }
        @if (item.Burden.HasValue)
        {
            <tr>
                <td class="bold">Burden:</td>
                <td>@item.Burden.Value</td>
            </tr>
        }
        @if (item.BurdenPerRespondent.HasValue)
        {
            <tr>
                <td class="bold">Burden Per Respondent:</td>
                <td>@item.BurdenPerRespondent.Value</td>
            </tr>
        }
        @if (item.BurdenPerRespondentAssessment.HasValue)
        {
            <tr>
                <td class="bold">Burden Per Respondent Assessment:</td>
                <td>@item.BurdenPerRespondentAssessment.Value</td>
            </tr>
        }
        
        @if (item.ConsentExplicit || item.ConsentImplicit || item.ConsentNotApplicable)
        {
            <tr>
                <td class="bold">Consent Type:</td>                
                @if (item.ConsentImplicit) { <td>Consent is implicit</td> }
                @if (item.ConsentExplicit) { <td>Consent is explicit</td>}
                @if (item.ConsentNotApplicable) { <td>Consent is not applicable</td>}
            </tr>
        }
        @if (!String.IsNullOrWhiteSpace(item.ConsentForms))
        {
            <tr>
                <td class="bold">Consent Forms:</td>
                <td>@item.ConsentForms</td>
            </tr>
        }
        @if (!String.IsNullOrWhiteSpace(item.Population))
        {
            <tr>
                <td class="bold">Population:</td>
                <td>@item.Population</td>
            </tr>
        }
        @if (!String.IsNullOrWhiteSpace(item.PopulationDescription))
        {
            <tr>
                <td class="bold">Population Description:</td>
                <td>@item.PopulationDescription</td>
            </tr>
        }
        @if (!String.IsNullOrWhiteSpace(item.ResponseType))
        {
            <tr>
                <td class="bold">ResponseType:</td>
                <td>@item.ResponseType</td>
            </tr>
        }
        @if (!String.IsNullOrWhiteSpace(item.ResponseTypeDescription))
        {
            <tr>
                <td class="bold">Response Type Description:</td>
                <td>@item.ResponseTypeDescription</td>
            </tr>
        }
        @if (!String.IsNullOrWhiteSpace(item.ResponseModePrimary))
        {
            <tr>
                <td class="bold">RResponse Mode Primary:</td>
                <td>@item.ResponseModePrimary</td>
            </tr>
        }
        @if (!String.IsNullOrWhiteSpace(item.ResponseModeNonPrimary))
        {
            <tr>
                <td class="bold">ResponseModeNonPrimary:</td>
                <td>@item.ResponseModeNonPrimary</td>
            </tr>
        }
        @if (!String.IsNullOrWhiteSpace(item.ResponseModeOther))
        {
            <tr>
                <td class="bold">Response Mode Other:</td>
                <td>@item.ResponseModeOther</td>
            </tr>
        }
        @if (!String.IsNullOrWhiteSpace(item.ResponseModeDescription))
        {
            <tr>
                <td class="bold">Response Mode Description:</td>
                <td>@item.ResponseModeDescription</td>
            </tr>
        }
        @if (!String.IsNullOrWhiteSpace(item.AdditionalLanguageInstrument))
        {
            <tr>
                <td class="bold">AdditionalLanguageInstrument:</td>
                <td>@item.AdditionalLanguageInstrument</td>
            </tr>
        }
        @if (!String.IsNullOrWhiteSpace(item.AdditionalLanguageInterpreter))
        {
            <tr>
                <td class="bold">Additional Language Interpreter:</td>
                <td>@item.AdditionalLanguageInterpreter</td>
            </tr>
        }
        @if (!String.IsNullOrWhiteSpace(item.IncentiveCashValue))
        {
            <tr>
                <td class="bold">Incentive Cash Value:</td>
                <td>@item.IncentiveCashValue</td>
            </tr>
        }
        @if (!String.IsNullOrWhiteSpace(item.IncentiveCashDescription))
        {
            <tr>
                <td class="bold">Incentive Cash Description:</td>
                <td>@item.IncentiveCashDescription</td>
            </tr>
        }
        @if (!String.IsNullOrWhiteSpace(item.IncentiveNonCashValue))
        {
            <tr>
                <td class="bold">Incentive Non CashValue:</td>
                <td>@item.IncentiveNonCashValue</td>
            </tr>
        }
        @if (!String.IsNullOrWhiteSpace(item.IncentiveNonCashDescription))
        {
            <tr>
                <td class="bold">Incentive Non Cash Description:</td>
                <td>@item.IncentiveNonCashDescription</td>
            </tr>
        }
        @if (!String.IsNullOrWhiteSpace(item.IncentiveJustification))
        {
            <tr>
                <td class="bold">Incentive Justification:</td>
                <td>@item.IncentiveJustification</td>
            </tr>
        }
        @if (!String.IsNullOrWhiteSpace(item.ConfidentialityLaw))
        {
            <tr>
                <td class="bold">Confidentiality Law:</td>
                <td>@item.ConfidentialityLaw</td>
            </tr>
        }
        @if (!String.IsNullOrWhiteSpace(item.VoluntaryConfidentialStatementInstrument))
        {
            <tr>
                <td class="bold">Voluntary Confidential Statement Instrument:</td>
                <td>@item.VoluntaryConfidentialStatementInstrument</td>
            </tr>
        }
        @if (!String.IsNullOrWhiteSpace(item.VoluntaryConfidentialStatementContactMaterial))
        {
            <tr>
                <td class="bold">Voluntary Confidential Statement ContactMaterial:</td>
                <td>@item.VoluntaryConfidentialStatementContactMaterial</td>
            </tr>
        }
        @if (!String.IsNullOrWhiteSpace(item.VoluntaryConfidentialStatementFaq))
        {
            <tr>
                <td class="bold">Voluntary Confidential StatementFaq:</td>
                <td>@item.VoluntaryConfidentialStatementFaq</td>
            </tr>
        }
        @if (!String.IsNullOrWhiteSpace(item.VoluntaryConfidentialStatementBrochure))
        {
            <tr>
                <td class="bold">Voluntary Confidential Statement Brochure:</td>
                <td>@item.VoluntaryConfidentialStatementBrochure</td>
            </tr>
        }
        @if (!String.IsNullOrWhiteSpace(item.FollowUpInformedConsentStatement))
        {
            <tr>
                <td class="bold">Follow Up Informed Consent Statement:</td>
                <td>@item.FollowUpInformedConsentStatement</td>
            </tr>
        }
        @if (!String.IsNullOrWhiteSpace(item.FollowUpInformedConsentLocation))
        {
            <tr>
                <td class="bold">Follow Up Informed Consent Location:</td>
                <td>@item.FollowUpInformedConsentLocation</td>
            </tr>
        }
        @if (!String.IsNullOrWhiteSpace(item.PaperworkReductionActStatement))
        {
            <tr>
                <td class="bold">Paperwork Reduction Act Statement:</td>
                <td>@item.PaperworkReductionActStatement</td>
            </tr>
        }
        @if (!String.IsNullOrWhiteSpace(item.PaperworkReductionActLocation))
        {
            <tr>
                <td class="bold">Paperwork Reduction Act Location:</td>
                <td>@item.PaperworkReductionActLocation</td>
            </tr>
        }
        
    </table>

}
