@{
    Layout = "~/Views/Shared/private/_FilesLayout.cshtml";
}

@model List<DataInventory.Private.Models.FileViewModel>

@foreach (var item in Model)
{
    <table style="width: 100%; margin-bottom: 10px" id="tblFiles">
        <tr>
            <td style="font-weight:bold; font-size: medium; padding-bottom: 8px;" colspan="2"><input type="hidden" value="@item.id" id="hdFileID" /></td>
        </tr>
        <tr>
            <td colspan="2" style="border-top: 1px solid #c5dbec;"></td>
        </tr>
        @if (!String.IsNullOrWhiteSpace(item.FileName))
        {
            <tr>
                <td class="bold" style="width: 160px;">FileName:</td>
                <td>@item.FileName</td>
            </tr>
        }
        @if (!String.IsNullOrWhiteSpace(item.FileFormat))
        {
            <tr>
                <td class="bold">FileFormat:</td>
                <td>@item.FileFormat</td>
            </tr>
        }
        @if (!String.IsNullOrWhiteSpace(item.DatasetTitle))
        {
            <tr>
                <td class="bold">DatasetTitle:</td>
                <td>@item.DatasetTitle</td>
            </tr>
        }
        @if (!String.IsNullOrWhiteSpace(item.DatasetRestriction))
        {
            <tr>
                <td class="bold">Dataset Restriction:</td>
                <td>@item.DatasetRestriction</td>
            </tr>
        }
        
        @if (!String.IsNullOrWhiteSpace(item.DatasetLocation))
        {
            <tr>
                <td class="bold">DatasetLocation:</td>
                <td>@item.DatasetLocation</td>
            </tr>
        }
        @if (!String.IsNullOrWhiteSpace(item.DatasetLocationDescription))
        {
            <tr>
                <td class="bold">Dataset Location Description:</td>
                <td>@item.DatasetLocationDescription</td>
            </tr>
        }
        @if (item.Collections != null && item.Collections.Any())
        {
            <tr>
                <td class="bold">Collections:</td>
                <td>
                    <ol>
                        @foreach(var c in item.Collections)
                        {
                            if(c.Id != 0 && !String.IsNullOrWhiteSpace(c.Name))
                            {
                                <li><a href="@Url.Action("GetCollectionDetail", "Collection", new { Id = c.Id})">@c.Name</a></li>
                            }
                        }
                    </ol>
                </td>
            </tr>
        }
        @if (item.Elements != null && !item.Elements.Any())
        {
            <tr>
                <td class="bold">All Elements:</td>
                <td>
                    <ol>
                        @foreach (var e in item.Elements)
                        {
                            <li>
                                @if (!String.IsNullOrWhiteSpace(e.Name))
                                {
                                    <p>Name: @e.Name</p>
                                }
                                @if (!String.IsNullOrWhiteSpace(e.Type))
                                {
                                    <p>Type: @e.Type</p>
                                }
                                @if (!String.IsNullOrWhiteSpace(e.Label))
                                {
                                    <p>Label: @e.Label</p>
                                }
                                @if (!String.IsNullOrWhiteSpace(e.LabelExtended))
                                {
                                    <p>Label: @e.LabelExtended</p>
                                }
                                @if (!String.IsNullOrWhiteSpace(e.Question))
                                {
                                    <p>Question: @e.Question</p>
                                }
                                @if (e.Values != null && !e.Values.Any())
                                {
                                    <ol>
                                        @foreach (var v in e.Values)
                                        {
                                            <li>
                                                @if (!String.IsNullOrWhiteSpace(v.Option))
                                                {
                                                    <p>Value Option: @v.Option</p>
                                                }
                                                @if (!String.IsNullOrWhiteSpace(v.Label))
                                                {
                                                    <p>Value Label: @v.Label</p>
                                                }
                                            </li>
                                        }
                                    </ol>
                                }
                            </li>
                        }
                    </ol>
                </td>
            </tr>
        }

    </table>

}
